{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Valyrio Plus{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static '/stylesCliente.css' %}" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="{% static 'images/valyrio_plus.png' %}" type="image/png">

        <style>

        </style>
    </head>
    <body>
    
        <!-- Navbar con márgenes ajustados -->
<nav class="navbar navbar-expand-lg custom-navbar" style="background-color: #000000;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white;">
            <img src="{% static 'images/valyrio_plus.png' %}" alt="Logo" width="50" height="50">    
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}" style="color: white;">Inicio</a>
                {% if user.is_authenticated %}
                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}" style="color: white;">Cerrar sesión</a>
                {% else %}
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}" style="color: white;">Iniciar sesión</a>
                <a class="nav-link active" aria-current="page" href="{% url 'register' %}" style="color: white;">Registrarse</a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <!-- Perfil e icono SVG al lado derecho -->
            <div class="d-flex align-items-center ms-auto">
                <!-- Primer ícono SVG -->
                 <a href="{% url 'carrito' %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                </a>
                <!-- Espacio extra entre los íconos usando ms-3 -->
                <a href=" {% url 'perfil' %} ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-person-circle ms-3" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </a>
            </div>
            {% endif %}
            

            {% block searchbar %}{% endblock %}
        </div>
    </div>
</nav>

        
        {% block body %}
        {% endblock %}

        <div class="container text-center mt-5">
            <div class="row">
                <div class="col">
                    <center>
                        <div class="iconos-sociales fixed-bottom">
                            <a href="#" target="_blank" class="mx-2"><img loading="lazy" alt="Sígueme en YouTube" height="40" width="40" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgGxjm__TS1-sOnf69Vbppx-u8CX1ltlmqqtDey3Gml5aV2kZ1BJsK94hMPF-cn870hd7Jk1bx9E50oPbA1fanb90M_2eoVUnnlSQ-Q_axbKVsDmsla6hPg-mRT-9FsPx0coSeVLmQppAbN/s0/Youtube-icono.png" title=" Sigue a Valyrio Plus en YouTube "/></a>
                            <a href="#" target="_blank" class="mx-2"><img loading="lazy" alt="Sígueme en Facebook" height="40" width="40" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh6vlV5enwWRJSXPWHkLi_QEhcy0OAwMgVAqp4F0dvu5sJ5zMBOSAPoqw4ZrMk6GaS_YUtjrK6p_qrHJipWOJz_Ib3NIppNWwx8se0fmswGW1YhYOT4lzTZXssDtPNuzZ7KxvJGR3RDarUt/s0/facebook-icono.png" title="Sigue a Valyrio Plus en Facebook"/></a>
                            <a href="#" target="_blank" class="mx-2"><img loading="lazy" alt="Sígueme en Instagram" height="40" width="40" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEioycSf-8NI3Ff15eeXtdXUO4e888671ildrsPBjKJnTFjzSymZi95xweZpk0Vc6zll0WDyE0pBGj3PWL564QS8VkRxeh_PbW6y6sT9dWJq-xHh1ohUJN737-Qe-c12TRC2kUAbf7TBzxK5/s0/Instagram-icono.png" title="Sigue a Valyrio Plus en Instagram"/></a>
                            <a href="#" target="_blank" class="mx-2"><img loading="lazy" alt="Sígueme en WhatsApp" height="40" width="40" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh1fwppWJk-Z8OVvyOtTxSxBmUMIt702HOt6OSOCVtrKG5GLxCRnPxu6bSj0GDEI3q-FugFOkb82rCvBYMYeM0648TQOjJk9-nFbI4hkOLTpDY3qL-qga9HPTB052Eqay4w3hHZnmW6lENj/s0/whatsapp-icono.png" title="Sigue a Valyrio Plus en WhatsApp"/></a>
                            <a href="#" target="_blank" class="mx-2"><img loading="lazy" alt="Sígueme en TikTok" height="40" width="40" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiFv8UKZ1-41VtEZOmOWZfuQSeNlkHBnbzmMYBIWVbiiEPWv28j9QmxHUOKceoGNe-6XEk31OnWLoNj-nTWrAK8mba-yMPPEqZlLMj3AI3_nnygxwxamLLKrALutw3nRMaDE2_Hzl7MLcWH/s0/tiktok-icono-oscuro.png" title="Sigue a Valyrio Plus en TikTok"/></a>
                        </div>
                    </center>
                    
                </div>
            </div>
        </div>
    </body>
</html>
