{% extends "plus/cliente/layout.html" %}
{% load static %} 
{% block body %}
<style>
    h1 {
        color: blanchedalmond;
    }
    h3 {
        color: white;
    }
    .table-container {
        margin: 0 auto; /* Centrar la tabla horizontalmente */
        max-width: 90%; /* Limitar el ancho total de la tabla */
    }
</style>
<div style="display: flex;">
    <div>
        <img src="{% static 'images/perfil.png' %}" alt="Foto de perfil" 
             style="width: 90px; height: 100px; border-radius: 50%; margin-right: 20px; margin-left: 10px;">   
    </div>
    <div>
        <h3>{{ User.nombre }} {{ User.apellido }}</h3>
        <h5 style="color: white">@{{ User.correo }}</h5>
    </div>
    
</div>

</br>
<h6 style="color:white; margin-left: 20px;">Cantidad de compras realizadas: {{ can }}</h6>
<br>



<!-- Contenedor de tabla con márgenes -->
<div style="display: flex; gap: 10px; flex-grow: 1;">
    <table style="margin: 0 20px; flex: 1;" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"># Compra</th>
                <th scope="col">Total</th>
                <th scope="col">Fecha</th>
                <th scope="col">Dirección</th>
            </tr>
        </thead>
        <tbody>
            {% for n, i in Compras_Envios %}
            <tr>
                <th scope="row">
                    <a href="{% url 'compraEspecifica' id=n.id %}">{{ forloop.counter }}</a>
                </th>
                <td>{{ n.total }}</td>
                <td>{{ n.fecha_compra }}</td>
                <td>{{ i.direccion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
