{% extends "plus/cliente/layout.html" %}

{% block body %}
</br>
    <h2 style="color: #FFFFFF; margin-left: 20px;">Registrarse</h2>
</br>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <style>
        /* Remove the blue outline on focus */
        .form-control:focus {
            outline: none;
            box-shadow: none;
            border-color: inherit;
        }
    </style>

    <form action="{% url 'register' %}" method="post" style="margin-left: 20px; margin-right:20px"> 
        {% csrf_token %}
        
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="apellido" placeholder="Apellido">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="telefono" placeholder="Teléfono">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="cedula" placeholder="Cédula">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="correo" placeholder="Correo electrónico">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="contraseña" placeholder="Contraseña">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmacion" placeholder="Confirmar Contraseña">
        </div>
        
        <input class="btn btn-primary" type="submit" value="Registrarse">
    </form>
</br>
    <p style="color: #FFFFFF; margin-left: 20px; margin-right: 20px">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí.</a></p>

{% endblock %}
