{% extends "plus/administracion/layout.html" %}

{% block body %}
{% if detalles %}
<style>
    body{
        overflow-x: hidden;
    }
    /* Estilos para el contenedor de entrada numérica */
.quantity-input {
    display: flex;
    align-items: center;
    max-width: 120px;
}

/* Estilo del botón */
.quantity-input .btn {
    width: 32px;
    height: 38px;
    padding: 0;
    border: 1px solid #ced4da;
    font-size: 18px;
    font-weight: bold;
}

/* Estilo del input de cantidad */
.quantity-input .form-control {
    text-align: center;
    font-size: 16px;
    border-left: none;
    border-right: none;
}

</style>
<form action="{% url 'Compra' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <!-- Sección izquierda: Detalles del producto en el carrito -->
        <div class="col-md-7">
            {% for detalle in detalles %}
            <div class="card mb-3">
                <div class="row g-0 align-items-center">
                    <div class="col-md-4">
                        <img src="{{ detalle.producto.imagen.url }}" class="img-fluid rounded-start" alt="Imagen del producto">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h6 class="card-title">Producto: {{ detalle.producto.nombre }}</h6>
                            <p>{{ detalle.producto.descripcion }}</p>
                            <h6>Precio:C$ {{ detalle.producto.precio }}</h6>
                            <!-- Input para la cantidad, con un name único para cada producto -->
                            <div class="input-group quantity-input">
                                <button type="button" class="btn btn-outline-secondary" onclick="decrement('{{ detalle.id }}')">-</button>
                                <input type="number" name="cantidad_{{ detalle.id }}" id="cantidad_{{ detalle.id }}" min="1" value="{{ detalle.cantidad }}" class="form-control text-center">
                                <button type="button" class="btn btn-outline-secondary" onclick="increment('{{ detalle.id }}')">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Sección derecha: Formulario de información de envío y botón de compra -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Información de la compra</h5>

                    <!-- Select para elegir entre usuario existente o cliente sin cuenta -->
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo de cliente</label>
                        <select name="tipo_usuario" id="tipo_usuario" class="form-control" onchange="toggleFields()">
                            <option value="usuario">Usuario existente</option>
                            <option value="nuevo">Cliente sin cuenta</option>
                        </select>
                    </div>

                    <!-- Campo para Correo (se muestra solo si elige 'Usuario existente') -->
                    <div id="correo_field" class="mb-3">
                        <label for="cliente" class="form-label">Nombre</label>
                        <input type="text" name="cliente" id="cliente" class="form-control" required>
                    </div>

                    <!-- Campo para Nombre (se muestra solo si elige 'Cliente sin cuenta') -->
                    <div id="nombre_field" class="mb-3" style="display: none;">
                        <label for="name" class="form-label">Correo</label>
                        <input type="text" name="name" id="name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="tipo_pago" class="form-label">Método de pago</label>
                        <select name="tipo_pago" id="tipo_pago" class="form-control" onchange="togglePaymentUrlInput()" required>
                            <option value="2">Depósito</option>
                            <option value="3">Transferencia</option>
                            <option value="1">Efectivo</option>
                        </select>
                    </div>

                    <div id="payment-url-input" class="payment-url-input mb-3">
                        <label for="imagen_pago" class="form-label">Comprobante - imagen (depósito/transferencia)</label>
                        <input type="file" name="imagen_pago" id="imagen_pago" class="form-control" placeholder="URL de la imagen">
                    </br>
                    <p>BAC - 368642930</p>
                    <p>BANPRO - 1002000181086</P>
                    <P>LAFISE - 117059300</p>
                    <p>BDF - 6013812142</p>
                    </div>

                    <button type="submit" class="btn btn-dark mt-3">Realizar compra</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% else %}
    <p>No hay productos en tu carrito.</p>
{% endif %}

<script>
    function togglePaymentUrlInput() {
        const tipoPago = document.getElementById("tipo_pago").value;
        const paymentUrlInput = document.getElementById("payment-url-input");
        if (tipoPago === "2" || tipoPago === "3") {
            paymentUrlInput.style.display = "block";
        } else {
            paymentUrlInput.style.display = "none";
        }
    }
    // Función que muestra u oculta los campos según la selección
    function toggleFields() {
        const tipoUsuario = document.getElementById('tipo_usuario').value;
        const correoField = document.getElementById('correo_field');
        const nombreField = document.getElementById('nombre_field');
        const correoInput = document.getElementById('cliente');
        const nombreInput = document.getElementById('name');
        
        if (tipoUsuario === 'usuario') {
            correoField.style.display = 'block';
            nombreField.style.display = 'none';
            correoInput.required = true;  // Requerir el campo de correo
            nombreInput.required = false; // No requerir el campo de nombre
        } else {
            correoField.style.display = 'none';
            nombreField.style.display = 'block';
            correoInput.required = false; // No requerir el campo de correo
            nombreInput.required = true;  // Requerir el campo de nombre
        }
    }

    // Inicializar estado de los campos
    window.onload = function() {
        toggleFields();
    }

    function increment(id) {
        const input = document.getElementById(`cantidad_${id}`);
        input.stepUp(); // Incrementa el valor en 1
    }

    function decrement(id) {
        const input = document.getElementById(`cantidad_${id}`);
        if (input.value > 1) input.stepDown(); // Decrementa el valor en 1, sin permitir valores menores a 1
    }

</script>
{% endblock %}
