{% extends "plus/administracion/layout.html" %}
{% load custom_filters %}


{% block body %}
<a href="{% url 'comprasCanceladas' %}" class="btn btn-danger">Cancelaciones</a>

 <div style="display: flex; gap: 10px; flex-grow: 1;">
        <table style="flex: 1;" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Trabajador</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                    <tr>
                        <th scope="row">
                            <a href="{% url 'compraEspecifica' id=compra.id %}">{{ compra.id }}</a>
                        </th>
                        <td>{{ compra.cliente.nombre }}</td>
                        <td>{{ compra.trabajador.nombre }}</td>
                        {% if compra.tipo_compra == False %}
                            <td> 
                                Online 
                                <a href="{% url 'cancelarCompra' id=compra.id %}" class="btn btn-danger">Cancelar</a>
                            </td>
                            
                        {% else %}
                            <td>Tienda</td>
                        {% endif %}
                    </tr>  
                
                {% endfor %}
            </tbody>
        </table>


{% endblock %}