{% extends "plus/administracion/layout.html" %}

{% block body %}
</br>
<div style="display: flex; gap: 15px; margin-bottom: 20px;">
    <form action="{% url 'registro_inversion' %}" style="margin-left: 20px;">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Registrar Nueva Colección</button>
    </form>
    <form action="{% url 'ver_ganancias' %}">
        <button class="btn btn-success">Ver Ganancias</button>
    </form>
</div>


    <div style="display: flex; gap: 10px; flex-grow: 1;">
        <table style="margin: 0 20px; flex: 1;" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for inversion in inversiones %}
                <tr>
                    <!-- Enlace al detalle de la inversión -->
                    <th scope="row">
                        <a href="{% url 'inversionEspecifica' id=inversion.id %}">{{ inversion.id }}</a>
                    </th>
                    <td>{{ inversion.fecha_inversion }}</td>

                    <td>C$ {{ inversion.total_inversion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
