{% extends "plus/administracion/layout.html" %}

{% block body %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; padding: 20px;">
    <div style="background-color: #222; padding: 20px; color: white; display: flex; align-items: center; border-radius: 10px; width: 50%; max-width: 600px;">
        <!-- Contenedor de la imagen -->
        <div style="margin-right: 20px;">
            <img src="static/images/valyrio_plus.png" alt="Logo Valyrio Plus" style="max-width: 150px;">
        </div>
        <!-- Contenedor del formulario -->
        <div style="flex-grow: 1;">
            <h3 style="color: #FFFFFF; text-align: center;">Registrar nuevo Repartidor</h3>
            </br>
            {% if message %}
                <div style="color: bisque; margin-bottom: 10px; text-align: center;">{{ message }}</div>
            {% endif %}

            <form action="{% url 'Newrepartidor' %}" method="POST" style="margin-left: 20px; margin-right: 20px;">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>

                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" required>
                </div>

                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" required>
                </div>

                <div class="form-group">
                    <label for="cedula">Cédula:</label>
                    <input type="text" class="form-control" id="cedula" name="cedula" required>
                </div>

                <div class="form-group">
                    <label for="matricula">Matricula:</label>
                    <input type="text" class="form-control" id="matricula" name="matricula" required>
                </div>

                

                <button type="submit" class="btn btn-primary" style="width: 100%;">Registrar trabajador</button>
            </form>
            </br>
        </div>
    </div>
</div>
{% endblock %}
