{% extends "plus/administracion/layout.html" %}

{% block body %}
    <div>
        <form action="{% url 'registro_regalias' %}">
            {% csrf_token %}
            <button type="submit">Registar Regalia</button>
        </form>
    </div>


 <div style="display: flex; gap: 10px; flex-grow: 1;">
        <table style="flex: 1;" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Beneficiado</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for regalia in regalias %}
                <tr>
                    <th scope="row">{{ regalia.id }}</th>
                    <td>{{ regalia.beneficiado }}</td>
                    <td>{{ regalia.producto.nombre }}</td>
                    <td>{{ regalia.cantidad }}</td>
                    <td>{{ regalia.monto_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}